@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/LayoutViewAdmin.cshtml";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Thêm mới câu hỏi</h1>
    <div style="display:flex;padding:10px 0px;flex-wrap: wrap;align-content: space-between;justify-content: space-evenly;align-items: baseline;flex-direction: column;">
        <input type="text" class="form-control" placeholder="Mô tả..." aria-label="Search" aria-describedby="basic-addon2" style="width:40%;padding-left:10px">
        <p style="padding: 5px;"></p>
        <input type="text" class="form-control" placeholder="Đáp án 1..." aria-label="Search" aria-describedby="basic-addon2" style="width:40%;padding-left:10px">
        <p style="padding: 5px;"></p>
        <input type="text" class="form-control" placeholder="Đáp án 2..." aria-label="Search" aria-describedby="basic-addon2" style="width:40%;padding-left:10px">
        <p style="padding: 5px;"></p>
        <input type="text" class="form-control" placeholder="Đáp án 3..." aria-label="Search" aria-describedby="basic-addon2" style="width:40%;padding-left:10px">
        <p style="padding: 5px;"></p>
        <input type="text" class="form-control" placeholder="Đáp án 4..." aria-label="Search" aria-describedby="basic-addon2" style="width:40%;padding-left:10px">
        <p style="padding: 5px;"></p>
        <select class="form-control" aria-label="Chọn đáp án đúng" style="width:40%;padding-left:10px">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <p style="padding: 5px;"></p>
        <input type="file" class="form-control" placeholder="Tên gói câu hỏi..." aria-label="Search" aria-describedby="basic-addon2" style="width:40%;padding-left:10px">
        <p style="padding: 5px;"></p>
        <button class="btn btn-primary">Tạo mới</button>
    </div>

    <!-- DataTales Example -->

</div>