@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/LayoutViewGame.cshtml";
}

<div id="question-container" class="hide">
    <div id="timeques">
        <span id="compteur" style="font-size: 40px;color: aquamarine;background-color: cadetblue;border-radius: 10px;">120</span>
    </div>
    <div id="question">Question</div>
    <div id="infoimg"><img id="imginfo" src="https://genk.mediacdn.vn/2020/1/5/8120442410401350263427785846805590692593664n-1578203298481431397718.jpg"></img></div>
    <div id="answer-buttons" class="btn-grid">
        <button class="btn">Answer 1</button>
        <button class="btn">Answer 2</button>
        <button class="btn">Answer 3</button>
        <button class="btn">Answer 4</button>
    </div>
</div>
<div class="controls">

</div>